**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
.DS_Store
*.xcworkspace

**/Content/LevelPrototyping/
**/Content/__ExternalActors__/
**/Content/__ExternalObjects__/
**/Content/Characters/
**/Content/Collections/
**/Content/Developers/
**/Content/Input/
**Labwork2/Content/Maps/
**Labwork2/Content/Materials/
**Labwork2/Content/Meshes/
**Labwork2/Content/UI/
**Labwork2/Content/Collections/
**Labwork2/Content/Developers/
**/.vscode/

