**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
.DS_Store
*.xcworkspace

**/Content/LevelPrototyping/
**/Content/__ExternalActors__/
**/Content/__ExternalObjects__/
**/Content/Characters/
**/Content/Collections/
**/Content/Developers/
**/Content/Input/